<div class="add-event">
    <div class="col-md-12">
        <h2 class="text-center">Add Gift</h2>

        <form>
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="fadeIn first">
                        <i class="fas fa-shopping-basket fa-3x"></i>
                    </div>
                    <form>
                        <input type="text" id="productName" class="fadeIn second" name="productName" placeholder="Product Name" [(ngModel)]="product.productName" />
                        <div><span class="color-red" *ngIf="submitted && !product.productName"><i class="fas fa-exclamation-circle"></i> Please enter product name</span></div>
                        <input type="text" id="productLink" class="fadeIn second" name="productLink" placeholder="Product Link" [(ngModel)]="product.productLink" />
                        <div><span class="color-red" *ngIf="submitted && !product.productLink"><i class="fas fa-exclamation-circle"></i> Please enter product link</span></div>
                        <input type="text" id="productColor" class="fadeIn second" name="productColor" placeholder="Product Color" [(ngModel)]="product.productColor" />
                        <div><span class="color-red" *ngIf="submitted && !product.productColor"><i class="fas fa-exclamation-circle"></i> Please enter product color</span></div>
                        <div *ngIf="isUpdate"><img class="fadeIn second" width=100 height=100 src="{{product.productImage}}" /></div>
                        <input id="file" type="file" class="fadeIn second margin-top-10" (change)="fileChange($event)" />
                        <input type="submit" *ngIf="!isUpdate" (click)="addProduct()" class="fadeIn fourth margin-top-10" value="Add Product">
                        <input type="button" *ngIf="isUpdate" (click)="editProduct()" class="fadeIn fourth margin-top-10" value="Edit Product"><br />
                        <a href="viewproduct?eventId={{eventId}}" *ngIf="isUpdate" class="create-event-link view-product-edit fadeIn">Go back</a>
                        <a href="viewproduct?eventId={{eventId}}" *ngIf="!isUpdate" (click)=viewProducts() class="create-event-link view-product fadeIn">Go back</a>
                    </form>

                </div>
            </div>
        </form>
    </div>
    <div *ngIf="displaySpinner" class="text-center spinner">
        <div class="spinner-border text-info loader" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>