<h2 class="text-center">View Event</h2>
<div class="container">
    <div class="row">
        <div class="col-sm">
            Event Name
        </div>
        <div class="col-sm">
            <span *ngIf="events">{{events.eventName}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Event Address
        </div>
        <div class="col-sm">
            <span *ngIf="events">{{events.eventAddress}}</span>
            <div class="col-sm" *ngIf="isOtherEvent"><br />
                <a href="javascript:void(0)" (click)=getDirections(events.eventAddress) class="btn btn-primary link-style">Get Directions</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Event Date
        </div>
        <div class="col-sm">
            <span *ngIf="events">{{events.eventDate}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Event Message
        </div>
        <div class="col-sm">
            <span *ngIf="events">{{events.eventMsg}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm" *ngIf="!isOtherEvent && !pastEvent">
            <a href="addproduct?eventId={{eventId}}" class="btn btn-primary link-style">Add Gifts</a>
        </div>
        <div class="col-sm" *ngIf="!isOtherEvent && !pastEvent">
            <a href="viewproduct?eventId={{eventId}}" class="btn btn-primary link-style">View Gifts</a>
        </div>
        <div class="col-sm" *ngIf="isOtherEvent && !pastEvent">
            <a href="purchaseproduct?eventId={{eventId}}" class="btn btn-primary link-style">View Gifts</a>
        </div>
        <div class="color-red font-bold col-sm" *ngIf="isOtherEvent && pastEvent">
            <span>This event is over!</span>
        </div>
        <div class="col-sm" *ngIf="isOtherEvent && responded === 'no response'">
            <span>Attending?</span> &nbsp;&nbsp;
            <a href="javascript:void(0)" (click)="updateRsvp('yes')" class="btn btn-primary link-style">Yes</a>&nbsp;&nbsp;
            <a href="javascript:void(0)" (click)="updateRsvp('no')" class="btn btn-primary link-style">No</a>
        </div>
        <div class="col-sm" *ngIf="isOtherEvent && responded != 'no response' && !pastEvent">
            <span class="color-green font-bold" *ngIf="responded === 'attending'"> You are attending this event!</span>
            <span class="color-red font-bold" *ngIf="responded === 'not attending'"> You are not attending this event!</span><br />
            <a href="javascript:void(0)" (click)=changeResponse() class="link-style">Click here to change response</a>&nbsp;&nbsp;
        </div>
        <div class="col-sm" *ngIf="isOtherEvent && pastEvent">
            <span class="color-green font-bold" *ngIf="responded === 'attending'"> You have already attended this event!</span>
            <span class="color-red font-bold" *ngIf="responded === 'not attending'"> You didn't attend this event!</span><br />
        </div>
        <div class="col-sm" *ngIf="!isOtherEvent && !pastEvent">
            <a href="addinvitees?eventId={{eventId}}" class="btn btn-primary link-style">Add Invitees</a>
        </div>
        <div class="color-red font-bold col-sm" *ngIf="!isOtherEvent && pastEvent">
            <span>This event is over!</span>
        </div>
    </div>
    <div *ngIf="displaySpinner" class="text-center spinner">
        <div class="spinner-border text-info loader" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>