<div class="col-md-12">
<div class="alert alert-danger" role="alert" *ngIf="submitted && (!user.username || !user.password || !confirmPassword || !user.firstName || !user.lastName || !user.email || !user.phoneNumber)">Please enter all fields!</div>
<div class="alert alert-danger" *ngIf="submitted && userExists" role="alert">An account already exists with this username or email!</div>
</div>
<div class="col-md-6">
<h2 class="text-center">Add Employee</h2>

<form>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="name" [(ngModel)]="user.username" placeholder="Username" name="username" class="form-control" id="username">
	<span *ngIf="submitted && !user.username">Please enter username</span>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input [(ngModel)]="user.password" placeholder="Password" name="password" class="form-control" id="password">
	<span *ngIf="submitted && !user.password">Please enter password</span>
  </div>
<div class="form-group">
    <label for="password">Confirm Password:</label>
    <input [(ngModel)]="confirmPassword" placeholder="Confirm Password" name="confirmPassword" class="form-control" id="password">
	<span *ngIf="submitted && !confirmPassword">Please confirm password</span>
  </div>
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input [(ngModel)]="user.firstName" placeholder="First Name" name="First Name" class="form-control" id="firstName">
		<span *ngIf="submitted && !user.firstName">Please enter first name</span>

  </div>
	<div class="form-group">
		<label for="lastName">Last Name:</label>
		<input [(ngModel)]="user.lastName" placeholder="Last Name" name="Last Name" class="form-control" id="lastName">
		<span *ngIf="submitted && !user.lastName">Please enter last name</span>
	</div>
	<div class="form-group">
		<label for="email">Email ID:</label>
		<input [(ngModel)]="user.email" placeholder="Email ID" name="Email ID" class="form-control" id="email">
		<span *ngIf="submitted && !user.email">Please enter email address</span>
	</div>
	<div class="form-group">
		<label for="phoneNumber">Phone Number:</label>
		<input [(ngModel)]="user.phoneNumber" placeholder="Phone Number" name="Phone Number" class="form-control" id="phoneNumber">
		<span *ngIf="submitted && !user.phoneNumber">Please enter phone number</span>
	</div>
  <button class="btn btn-success" (click)="addUser()">Register</button>
</form>
</div>